<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="send-outline"></ion-icon>
      <ion-label>Envios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Cliente</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
